@model IEnumerable<URL_Shortener1.Models.URL>

<h1>List of URLs</h1>

@if (User.Identity.IsAuthenticated)
{
    <form asp-action="ShortenUrl" method="post">
        <input type="text" name="LongUrl" id="longUrl" placeholder="Введіть URL" required />
        <button type="submit">Скоротити</button>
    </form>
    <p id="message" style="color: red; display: none;">URL не може бути порожнім.</p>
    //noneed

    @if (!ViewData.ModelState.IsValid)
    {
                <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                            <p>@error.ErrorMessage</p>
            }
                </div>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OriginalUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortenedUrl)
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th>
                    Actions
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model is not null) {
            @foreach (var item in Model)
            {
                var userId = ViewBag.UserId;
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OriginalUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShortenedUrl)
                    </td>
                    @if (User.Identity.IsAuthenticated && item.UserId.ToString() == userId)
                    {
                        <td>
                           <a asp-controller="ShortURLsTable" asp-action="ShortURLInfoView" asp-route-id="@item.Id">Details</a> |
                           <a asp-controller="ShortURLsTable" asp-action="DeleteURLInfo" asp-route-id="@item.Id">Delete</a>
                        </td>
                    }
                </tr>
            }
        }
    </tbody>
</table>
